// Global styles
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	padding: 20px 35px;
	margin: 0;
	font-family: sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}